<?xml version="1.0" ?>
<robot name="box" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find box_description)/urdf/materials.xacro" />
<xacro:include filename="$(find box_description)/urdf/box.trans" />
<xacro:include filename="$(find box_description)/urdf/box.gazebo" />
<link name="imu_link">
  <inertial>
    <origin xyz="0.075 0.0 0.0" rpy="0 0 0"/>
    <mass value="23.549999999999997"/>
    <inertia ixx="0.098125" iyy="0.063781" izz="0.122656" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://box_description/meshes/imu_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://box_description/meshes/imu_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
